body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(76, 175, 80, 0.5), rgba(76, 175, 80, 0.98));
    padding: 0;
    margin: 0;
}

.start-container {
    padding-top: 190px;
    justify-content: baseline;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.start-container {
    font-family: "Atkinson Hyperlegible Next";
}
h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.start-container div div {
    text-align: center;
    font-size: 1.4rem;
    color: black;

}
.start-container .blinking-statement {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 60px;
}
.name a {
    text-align: left;
    font-family: "Chewy";
    font-size: 4rem;
    font-weight: 600;
    text-decoration: none;
    color: #665f5f;
    text-shadow: -2px 2px 1px rgba(0,0,0,0.59); 
    cursor: pointer;
}
.name {
    position: absolute;
    padding-top: 20px;
    padding-left: 40px;
}


.board {
    height: 360px;
    width: 396px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 220px;
    gap: 18px;
}


.box {
    cursor: pointer;
    box-shadow: 8px 8px 8px 1px gray;
    border: none;
    width: 120px;
    border-radius: 10px;
    height: 120px;
}

.on-hover:hover {
    height: 118px;
    margin: 1px 0 1px 0;
    box-shadow: 5px 5px 5px -1px gray;
    background-color: #e1e3e3;
}

.box:hover {
    height: 118px;
    margin: 1px 0 1px 0;
    box-shadow: 5px 5px 5px -1px gray;
    
}

.box img {
    width: 80px;
    height: 80px;
}

.color {
    background-color: #80e8c9;
}

.hidden {
    display: none;
}