body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(76, 175, 80, 0.5), rgba(76, 175, 80, 0.98));
    padding: 0;
    margin: 0;
}

.start-container {
    padding-top: 190px;
    justify-content: baseline;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.start-container, dialog{
    font-family: "Atkinson Hyperlegible Next";
}
h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.start-container div div {
    text-align: center;
    font-size: 1.4rem;
    color: black;

}
.start-container .blinking-statement {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 60px;
}
dialog {
    background-color: #E8F3E8;
}
.player-1, .player-2{
    border: solid 5px grey;
    border-radius: 15px;
    margin-top: 190px;
    width: 500px;
    height: 300px;
}

.mark-container {
    margin-top: -5px;
    display: flex;
    gap: 40px;
}
label h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
form .choose-mark {
    margin-bottom: -5px;
    text-align: center;
    font-weight: 520;
    font-size: 1.2rem;
}

input {
    margin: auto;
    width: 150px;
}
input[type="text"] {
    width: 240px;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid black;
    background-color: inherit;
}

input:focus {
    outline: none;
}
.p1-name, .p2-name{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    
}
.image-option {
    background-color: inherit;
    border-radius: 5px;
    border: 3px solid grey;
}
.player-2 form{
    align-items: center;
    gap: 70px
}
.p2-name {
    gap: 60px;
}
button:hover {
    cursor: pointer;
}
.image-option:focus{
    border: 5px solid black;
}
.p1-confirm, .p2-confirm {
    border-radius: 5px;
    border: 2px solid grey;
    background-color: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 15px;
    height: 40px;
    width: 90px;
}
.name a {
    text-align: left;
    font-family: "Chewy";
    font-size: 4rem;
    font-weight: 600;
    text-decoration: none;
    color: #665f5f;
    text-shadow: -2px 2px 1px rgba(0,0,0,0.59); 
    cursor: pointer;
}
.name {
    position: absolute;
    padding-top: 20px;
    padding-left: 40px;
}


.board {
    height: 360px;
    width: 396px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 220px;
    gap: 18px;
}


.box {
    cursor: pointer;
    box-shadow: 8px 8px 8px 1px gray;
    border: none;
    width: 120px;
    border-radius: 10px;
    height: 120px;
}

.on-hover:hover {
    height: 118px;
    margin: 1px 0 1px 0;
    box-shadow: 5px 5px 5px -1px gray;
    background-color: #e1e3e3;
}

.box:hover {
    height: 118px;
    margin: 1px 0 1px 0;
    box-shadow: 5px 5px 5px -1px gray;
    
}

.box img {
    width: 80px;
    height: 80px;
}

.color {
    background-color: #80e8c9;
}

.hidden {
    display: none;
}